# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
*.com
*.class
*.dll
*.exe
*.o
*.so
.DS_Store

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
*.csv

# extensions
*.htaccess

# directories
/src/csv

# settings
.spyderproject
.spyproject
.vscode

# cache
__pycache__/
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
